@charset "utf-8";
/* CSS Document */

.container {
  display: flex;
  flex-wrap: wrap;
}

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
  max-width: 1000px;
  padding: 10px 20px;
  margin: auto;
  align-content: center;
  background-color: #fdfdfd;
	position:relative;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}

a img{
	border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

.cover {
  object-fit: cover;
  /* object-position: 10% 10%; */
}


/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  padding-top: 1.25em;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 12px 40px 14px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 1.1em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}


/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 5em;
  background-color: #3397DB;
  align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 5px 10px 0 15px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}


/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 15px 70px;
  width: 100%;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-family: Arial,sans-serif;
  margin: 20px;
  /* min-height: 380px; */
  padding: 0 30px 25px;
  text-align: center;
  width: 100%;
}

#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  padding-top: 25px;
  max-width: 100%;
  /* min-height: 248px; */
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0 0 25px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  border-top-left-radius: 30px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0 10px 5px;
  width: 100%;
}

#restaurant-hours {
  width: 100%;
  margin: 10px 0 0 5px;
  padding-right: 15px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 10px solid #fff;
  padding: 25px 70px 40px;
  width: 100%;
}

#reviews-container {
  padding: 25px 70px 40px;
  overflow: hidden;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 20px 0;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding-bottom: 20px;
  width: 100%;
}

#reviews-list li p {
  margin: 0 0 10px;
  padding: 0 20px;
  font-size: 1.25em;
  font-weight: lighter;
  color: dimgray;
}

#reviews-list .rating {
  margin: 20px 600px 20px 20px;
  padding: 5px 10px;
  background: #f58500;
  border-radius: 5px;
  width: 90px;
}

#reviews-list .rating h3 {
  text-transform: uppercase;
  font-weight: lighter;
  color: #fff;
  margin: 0;
  padding-left: 5px;
}

#review-head {
  background-color: #2c3a51;
  color: #fff;
}

#review-head h3 {
  width: calc((100% - 45px)/2);
  padding: 10px 0 10px 25px;
  margin: 0;
  font-size: 25px;
  font-weight: normal;
}

#review-head h4 {
  width: calc((100% - 45px)/2);
  text-align: right;
  padding: 20px 20px 10px 0;
  margin: 0;
  font-size: 15px;
  font-weight: lighter;
  color: whitesmoke;
}

#restaurant-hours td {
  color: #666;
  vertical-align: top;
}


/* ====================== BREAKPOINT 800px ====================== */
@media screen and (max-width: 800px) {

  body.inside #restaurant-img {
    transition: height 0.5s;
    height: 60%;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 25px 70px 70px;
  }

}


/* ====================== BREAKPOINT 700px ====================== */
@media screen and (max-width: 700px) {

  body.inside #restaurant-img {
    transition: height 0.5s;
    height: 55%;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 25px 50px 50px;
  }

  #restaurant-cuisine {
    transition: padding 0.5s;
    padding: 0;
    line-height: 35px;
  }

  #reviews-container {
    transition: padding 0.5s;
    padding: 25px 50px 40px;
  }

}


/* ====================== BREAKPOINT 640px ====================== */
@media screen and (max-width: 640px) {

  #restaurants-list {
    transition: padding 0.5s;
    padding: 15px 30px;
  }

  .filter-options select {
    transition: width 0.5s;
    width: 160px;
  }

  .inside #map-container {
    transition: height 0.5s;
    height: 350px;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 25px 50px 70px;
  }

}


/* ====================== BREAKPOINT 540px ====================== */
@media screen and (max-width: 540px) {
  
  #map {
    transition: height 0.5s;
    height: 300px;
  }

  .filter-options {
    height: 7em;
  }

  .filter-options h2 {
    font-size: 16px;
    margin: 5px 10px 0 15px;
    width: 100%;
  }

  .filter-options select {
    font-size: 10pt;
    margin: 0 10px 15px 10px;
    min-width: 140px;
  }

  #restaurants-list {
    transition: padding 0.5s;
    padding: 5px 15px 35px 15px;
  }

  #restaurants-list li {
    margin: 20px 20px 5px 20px;
    padding: 0 25px 25px;
  }

  .inside #map-container {
    transition: height 0.5s;
    height: 300px;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 25px 35px 80px;
  }

  #reviews-container {
    transition: padding 0.5s;
    padding: 25px 35px 40px;
  }

}


/* ====================== BREAKPOINT 480px ====================== */
@media screen and (max-width: 480px) {

  nav {
    height: 85px;
  }

  nav h1 {
    padding: 0.55em 2em 0 2em;
  }

  #map {
    transition: height 0.5s;
    height: 250px;
  }

  .filter-options {
    height: 6em;
    padding-left: 20px;
  }

  .filter-options h2 {
    margin: 8px 10px 7px 0;
  }

  .filter-options select {
    margin: 0 15px 15px 0;
  }

  #restaurants-list li {
    margin: 15px 5px 5px 5px;
    padding: 0 20px 20px;
  }

  #restaurants-list .restaurant-img {
    padding-top: 20px;
  }

  #breadcrumb {
    transition: padding 0.5s;
    padding: 10px 25px 12px;
    font-size: 15px;
  }

  .inside #map-container {
    transition: height 0.5s;
    height: 250px;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 20px 30px 85px;
  }

  #restaurant-name {
    font-size: 18pt;
    margin: 0 0 20px;
  }

  body.inside #restaurant-img {
    transition: height 0.5s;
    height: 50%;
  }

  #restaurant-hours td:first-child {
    padding-right: 15px;
  }

  #restaurant-hours {
    padding-right: 80px;
  }

  #reviews-container {
    transition: padding 0.5s;
    padding: 15px 30px 40px;
  }

  #reviews-container h2 {
    font-size: 22pt;
    margin-bottom: 10px;
  }

  #review-head h3 {
    font-size: 22px;
  }

}

/* ====================== BREAKPOINT 450px ====================== */
/*
@media screen and (max-width: 450px) {

  #restaurant-hours {
    width: 60%;
  }

}
*/


/* ====================== BREAKPOINT 412px ====================== */
@media screen and (max-width: 412px) {

  #map {
    transition: height 0.5s;
    height: 230px;
  }

  .filter-options {
    height: 6em;
    padding-left: 15px;
  }
  
  .filter-options h2 {
    font-size: 15px;
  }

  .filter-options select {
    font-size: 9pt;
    margin: 0 10px 12px 0;
    width: 140px;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 20px 30px 65px;
  }
  
  body.inside #restaurant-img {
    transition: height 0.5s;
    height: 45%;
  }

  #restaurant-hours {
    padding-right: 70px;
  }

}


/* ====================== BREAKPOINT 375px ====================== */
@media screen and (max-width: 375px) {

  .inside #map-container {
    transition: height 0.5s;
    height: 225px;
  }

  #restaurant-container {
    transition: padding 0.5s;
    padding: 20px 20px 60px;
  }

  #restaurant-name {
    font-size: 16pt;
    margin: 0 0 16px;
  }

  #restaurant-img {
    transition: height 0.5s;
    height: 40%;
  }

  #restaurant-cuisine {
    font-size: 11pt;
  }

  #restaurant-hours {
    padding-right: 60px;
  }

  #reviews-container {
    transition: padding 0.5s;
    padding: 15px 20px 30px;
  }

  #reviews-container h2 {
    font-size: 20pt;
  }

  #review-head h3 {
    font-size: 20px;
    width: calc((100% - 38px)/2);
    padding: 10px 0 10px 20px;
  }

  #review-head h4 {
    width: calc((100% - 38px)/2);
    padding: 16px 18px 10px 0;
    font-size: 14px;
  }

}